name: Build Kivy APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Buildozer + dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip python3-setuptools python3-pip \
            openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev \
            libncurses5-dev libffi-dev libssl-dev

          pip install buildozer cython

      - name: Build APK
        run: |
          buildozer init
          sed -i 's/title = My Application/title = MyKivyApp/' buildozer.spec
          sed -i 's/source.include_exts = py,kv,txt,ttf/source.include_exts = py/' buildozer.spec
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: my-kivy-app
          path: bin/*.apk
